#adventure {
    margin-top: 3em;

    .guide {
        margin: 4em 0;
        display: flex;
        align-items: center;
        justify-content: center;


        &-video {
            cursor: pointer;
            margin-right: 2em;
            width: 50%;
            max-width: 100%;
            height: auto; 
        }

        & img {
            max-height: 350px;
            width: 50%;
            max-width: 100%; 
            height: auto; 
            object-fit: contain;

            @include breakpoint-down(tablet) {
                margin-right: 0; 
                width: 100%; 
            }

            &:last-child {
                max-height: 200px;
                min-height: 150px;
                width: auto;

                @include breakpoint-down(tablet) {
                    display: none;
                }
            }
        }
    }
}
