#discover{
    .discover-wrapper{
        @include breakpoint-down(tablet){
            margin:0 -1em;
        }
        .items{
            width: 100%;
            margin:0 -1em;
            margin-top:3em !important;

            @include breakpoint-down(tablet){
                margin: auto;
            }
            .item{
                @include breakpoint-down(tablet){
                    width: 50%;
                }
                width: 25%;
                padding-top:2em;
                overflow: hidden;
                padding:1em;
                &-cover{
                      overflow: hidden;
                      min-width: 100%;
                      max-width: 100%;
                      min-height: 250px;
                      max-height:300px;
                      & img{
                        transition: $transition-1;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 250px;
                        max-height:300px;
                        object-fit: cover;
                        object-position: center;
                        background-position: center;
                        width:auto;
                        &:hover{
                            zoom:1.3;
                        }
                      }
                }
                &-line{
                    width: 100%;
                    background-color:$white;
                    height: 3px;
                }
            }
        }
    }
}