#discover{
    .discover-wrapper{
        .items{
            width: 100%;
            margin:0 -1em;
            margin-top:3em;
            .item{
                @include breakpoint-down(tablet){
                    width: 50%;
                }
                width: 25%;
                padding-top:2em;
                overflow: hidden;
                padding:1em;
                &-cover img{
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 250px;
                    max-height:300px;
                    object-fit: cover;
                    object-position: center;
                    background-position: center;
                    width:auto;
                }
                &-line{
                    width: 100%;
                    background-color:$white;
                    height: 3px;
                }
            }
        }
    }
}