footer{
    .nav-menu{
        & ul ol > li.nav-subitem{
            margin-left:0.5em;
            @include breakpoint-down(tablet){
                margin-left: 0;
            }
        }
        & ul ol > li:nth-child(2){
            margin-top:0.5em;
        }
        @include breakpoint-down(tablet){
            display: flex;
            justify-content: center;
            
            & > ul{
                text-align: center;
            }
            & li{
                padding:0.5em;
            }
        }
    }
    h2{
        text-transform: capitalize;
    }
    .copyright p{
        font-size: 0.8em;
        opacity: 0.8;
    }
    .second-menu{
        justify-content: center;
        @include breakpoint-up(tablet){
            justify-content: space-between;
        }
        & > div{
            @include breakpoint-down(tablet){
                flex:100%;
            }
        }
        & .col:nth-child(2){
            max-width: 350px;
        }
        & .col:nth-child(3){
            min-width: 250px;
        }
    }
    .socials{
        &-mail{
            @include breakpoint-down(tablet){
                text-align: center;
            }
        }
        &-icons{
            gap:3em;
        }
    }
    
}