*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    font-size: $font-size;
    background: $background;
    color:$white;
    width: 100vw;
    // overflow: hidden;
}
:root{
    --nav-width:200px;
}
/* ------- DEFAULT -------*/
.flex{
    display: flex;
    &.ai-c{
        align-items: center;
    }
    &.ai-e{
        align-items: end;
    }
    &.jc-c{
        justify-content: center;
    }
    &.jc-sb{
        justify-content: space-between;
    }
    &.jc-e{
        justify-content: end;
    }
    &.wrap{
        flex-wrap: wrap;
    }
    &.column{
        flex-direction: column;
    }
    &.gap{
        gap:1em;
    }
    .as-c{
        align-self: center;
    }
}
h1{
    font-size:calc($font-size*4);
}
h2{
    text-transform: uppercase;
    font-size:calc($font-size *2.5);
}
p{
    font-size:calc($font-size*1.2);
}
.m-a{
    margin: auto;
}
.mt-1{
    margin-top:1em;
}
.mt-3{
    margin-top:3em;
}
.pr-05{
    padding-right: 0.5rem;
}
.ta-c{
    text-align: center;
}
.m-center{
    margin:0 auto;
}
.opacity{
    opacity: 0.5;
}
.os-grid{
    max-width: $grid-width;
    margin: 0 auto;
}
.os-content{
    padding:1em;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
ul, ol{
    list-style-type: none;
}
.container{
    padding:10px 5%;
}
a{
    text-decoration: none;
    color:$white;
}
.active{
    position: relative;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;

    & strong::after{
        content:"";
        position: absolute;
        bottom:-1px;
        left:0;
        height: 2px;
        width: 100%;
        background: $primary-pink;
    }
}
.blur{
    position: absolute;
    width: 270px;
    height: 210px;
    filter: blur(100px);
    border-radius: 50%;
    z-index: 0;
    opacity: 0.85;
    &-pink{
        top:-20%;
        left:-10%;
        background: $primary-pink;
    }
    &-cyan{
        bottom:-20%;
        right:-10%;
        background: $primary-cyan;
    }
    &-box{
        position: relative;
        & > div:not(.blur-pink,.blur-cyan){
            z-index: 1;
        }
    }
}


/* ---- Buttons ---- */
.btn{
    padding:20px 15px;
    border-radius: $btn-radius;
    cursor: pointer;
    min-width: 120px;
    max-width: 150px;
    max-height: 45px;
    text-align: center;
    line-height: 0;

    &-empty{
        background-color: transparent;
        border:1px solid;
    }
    &-fill{
        background:$gradient;
    }

}


.txt-gradient{
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rotate-180{
    transition: rotate $transition-1;
    rotate:180deg;
}

/* burger btn */
.burgerbtn{
    height: 20px;
    width: 26px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}
.burgerbtn span{
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: $white;
    transition:all 0.2s ease-out;
}
.burgerbtn span:nth-child(1){
    transform-origin: top left;
    top:0;
}
.burgerbtn span:nth-child(2){
    top:calc(10px - 1.5px);
}
.burgerbtn span:nth-child(3){
    transform-origin: left bottom;
    bottom:0;
}
.burgerbtn.active-menu span:nth-child(1){
    rotate:$burger-rotate;
}
.burgerbtn.active-menu span:nth-child(2){
    opacity: 0;
}
.burgerbtn.active-menu span:nth-child(3){
    rotate:calc(-1 * $burger-rotate);
}

/*---- FRONT PAGE ----*/
#page{
    width: calc(100% - var(--nav-width));
    float:right;
    transition: $transition-1;
}
nav{
    position: fixed;
    top:0;
    left:0;
}

// .burgerbtn{
//     display: none;
// }
// .mobile-menu{
//     display: none;
// }

// nav .burgerbtn{
//     @include breakpoint-down(tablet){
//         display: block;
//     }
// }
// .mobile-menu{
//     @include breakpoint-down(tablet){
//         display: flex !important;
//         flex-direction: column;
//         align-items: center;
//         position: fixed;
//         top:0;
//         right:0;
//         background:var(--background);
//         border-left:1px solid rgba(255,255,255, 0.3);
//         height: 100vh;
//         width:0px;
//         padding-top:7em;
//         overflow: hidden;
//     }
// }
// .mobile-menu__items{
//     @include breakpoint-down(tablet){
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap:20px;
//         width: 100%;
//     }
// }
// .mobile-menu__items ul li, .mobile-menu__items .cta div{
//     @include breakpoint-down(tablet){
//         padding:1em 0;
//     }
// }
// .mobile-menu ul, .mobile-menu .cta div{
//     @include breakpoint-down(tablet){
//         width: 100%;
//     }
// }
