*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    font-size: $font-size;
    background: $background;
    color:$white;
    width: 100%;
}
:root{
    --nav-width:200px;
    --nav-height:max-content;
    @include breakpoint-down(tablet){
        --nav-width:0px;
    }
}
/* ------- DEFAULT -------*/
.block{
    display: block;
}
.flex{
    display: flex;
    &.ai-c{
        align-items: center;
    }
    &.ai-e{
        align-items: end;
    }
    &.jc-c{
        justify-content: center;
    }
    &.jc-sb{
        justify-content: space-between;
    }
    &.jc-e{
        justify-content: end;
    }
    &.wrap{
        flex-wrap: wrap;
    }
    &.column{
        flex-direction: column;
    }
    &.gap{
        gap:1em;
    }
    .as-c{
        align-self: center;
    }
}
h1{
    font-size:calc($font-size*4);
    @include breakpoint-down(tablet){
        font-size: calc($font-size*3);
    }
}
h2{
    text-transform: uppercase;
    font-size:calc($font-size *2.5);
    @include breakpoint-down(phone){
        font-size:calc($font-size *2);
    }
}
p{
    font-size:calc($font-size*1.2);
    @include breakpoint-down(phone){
        font-size:calc($font-size *1);
    }
}
.m-a{
    margin: auto;
}
.mt-1{
    margin-top:1em;
}
.mt-3{
    margin-top:3em;
}
.mb-1{
    margin-bottom:1em;
}
.pr-05{
    padding-right: 0.5rem;
}
.ta-c{
    text-align: center;
}
.m-center{
    margin:0 auto;
}
.opacity{
    opacity: 0.5;
    transition: opacity $transition-1;
}
.opacity:hover{
    opacity: 1;
}
.os-grid{
    max-width: $grid-width;
    margin: 0 auto;
}
.os-content{
    padding:1em;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
ul, ol{
    list-style-type: none;
}
.container{
    padding:10px 5%;
}
a{
    text-decoration: none;
    color:$white;
}
.link-active{
    position: relative;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;

    & strong::after{
        content:"";
        position: absolute;
        bottom:-1px;
        left:0;
        height: 2px;
        width: 100%;
        background: $primary-pink;
        
        @include breakpoint-down(tablet){
            display: none;
        }
    }
}
.line{
    width: 100%;
    background-color: $white;
    height: 2px;
}
.blur{
    position: absolute;
    width: 270px;
    height: 210px;
    filter: blur(100px);
    border-radius: 50%;
    z-index: 0;
    opacity: 0.85;
    &-pink{
        top:-20%;
        left:-10%;
        background: $primary-pink;
        @include breakpoint-down(phone){
            left: 0%;
        }
    }
    &-cyan{
        bottom:-20%;
        right:0%;
        background: $primary-cyan;
        @include breakpoint-down(phone){
            right: 20%;
        }
    }
    &-box{
        position: relative;
        & > div:not(.blur-pink,.blur-cyan){
            z-index: 1;
        }
    }
}

.popup{

    width: 100%;
    height: 100%;
    display: none;

    &.active{
        display: block;

        .popup{
            &-container{
                animation: popCenter ease-in 0.2s forwards;
            }
            &-bg{
                animation: popbgShow ease-in 0.2s forwards;
            }
        }
        
    }
    &-container{
        position: fixed;
        z-index: 9999;
        top:50%;
        left:50%;
        transform: translate(-50%,-48%);
        background-color: $background;
        border:1px solid white;
        width: 80%;
        height: 60%;
        max-width: 600px;
    }
    &-inner {
        input{
            &:focus{
                outline: none;
                border: 2px solid transparent;
                box-shadow: 0 0 4px 2px rgba(48, 129, 237, 0.5), 0 0 4px 2px rgba(155, 81, 224, 0.5);
            }
            &:not([type="submit"]){
                color:$black;
                width: 230px;
                padding:0.5em;
            }
        }
        label{
            font-size:1.1em;
        }
        a{
            text-decoration: underline;
        }
        .login-input-eye{
            position: absolute;
            top:0;
            right: 0;
            width: 27px;
            cursor: pointer;
            text-align: center;
            background-color:$gray;
            line-height: 3;
            height: 100%;
        }
        #user_password{
            padding-right: 27px !important;
        }
    }

    &-bg{
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 100vh;
        background-color: $background;
        opacity: 0.7;
        z-index: 9998;
    }
    &-btnClose{
        position: relative;
        width: 30px;
        height: 40px;
        cursor: pointer;
        span{
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: $white;
            transform-origin: center;
            top:50%;
            transform: translateY(-50%);
            &:first-child{
                right:0;
                transform: rotate(45deg);
            }
            &:last-child{
                right: 0;
                transform: rotate(-45deg);

            }
        }
    }
}
/* ---- Buttons ---- */
.btn{
    padding:20px 15px;
    border-radius: $btn-radius;
    cursor: pointer;
    min-width: 120px;
    max-width: 150px;
    max-height: 45px;
    text-align: center;
    line-height: 0;
    transition: $transition-1;
    border:unset;

    &-empty{
        background-color: transparent;
        border:1px solid;
        &:hover{
            background-color: $white;
            color:$navbg;
        }
    }
    &-fill{
        background:$gradient;
        color:$white !important;
    }

}


.txt-gradient{
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rotate-180{
    transition: rotate $transition-1;
    rotate:180deg;
}

/* burger btn */
.burgerbtn{
    height: 20px;
    width: 26px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}
.burgerbtn span{
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: $white;
    transition:all 0.2s ease-out;
}
.burgerbtn span:nth-child(1){
    transform-origin: top left;
    top:0;
}
.burgerbtn span:nth-child(2){
    top:calc(10px - 1.5px);
}
.burgerbtn span:nth-child(3){
    transform-origin: left bottom;
    bottom:0;
}
.burgerbtn.active-menu span:nth-child(1){
    rotate:$burger-rotate;
}
.burgerbtn.active-menu span:nth-child(2){
    opacity: 0;
}
.burgerbtn.active-menu span:nth-child(3){
    rotate:calc(-1 * $burger-rotate);
}

/*---- FRONT PAGE ----*/
#page{
    width: calc(100% - var(--nav-width));
    float:right;
    transition: $transition-1;
    @include breakpoint-down(tablet){
        margin-bottom:var(--nav-height);
    }
}

#page > :is(div,footer){
    background: $background;
}
