header {
    .main-header{
        // font-size: $font-size;
        margin-top:2em;
        .logo a{
            font-size:calc($font-size * 3);
        }
        .signbtn div{
            opacity: 0.6;
            transition: $transition-1;
        }
        .signbtn div:hover{
            opacity: 1;
        }
    }
    .content-header{
        width: calc(100% - var(--nav-width));
        float:right;
        transition: $transition-1;
        background: $background;
    }
}
nav{
    z-index: 10;
    position: fixed;
    top:0;
    left:0;

    @include breakpoint-down(tablet){
        top:unset;
        right: 0;
        bottom:0;      
    }
    .nav-links{
        ul li a{
            @include breakpoint-down(tablet){
                display: grid;
            }
        }
    }
    .nav-container{
        background-color: $navbg;
        width:var(--nav-width);
        height: 100vh;
        border-right:1px solid rgba($white,0.2);
        text-wrap: nowrap;
        transition: $transition-1;

        @include breakpoint-down(tablet){
            height: var(--nav-height);
            width: 100vw;
        }

        .nav-logo{
            padding:2em;
            
            @include breakpoint-down(tablet){
                display: none;   
            }
        }
        ul{
            width: 100%;
            > li{
                padding:1em;
                border-top: 1px solid rgba($white,0.2);
                @include breakpoint-down(tablet){
                    flex:1;
                    text-align: center;
                }
            }
            > li:last-child{
                border-bottom: 1px solid rgba($white,0.2);;
            }
            li ol{
                width: 100%;
                li{
                    padding: 0.5em 1.5em;

                    a strong:hover{
                        font-weight: 600;
                    }
                    &.bordernav{
                        border-top:1px solid rgba($white,0.2);;
                    }
                }
            }
            @include breakpoint-down(tablet){
                display: flex;   
            }
        }
        .top-side{
            width: 100%;
        }
        a > i:first-child{
            margin-right: 0.5em;
            @include breakpoint-down(tablet){
                margin-right: 0px;
            }
        }
        strong:not(.active){
            font-weight: 400;
        }
        .burger{
            width: 100%;
            padding:1.5em 0;
            border-top: 1px solid rgba($white,0.2);
            @include breakpoint-down(tablet){
                display: none;   
            }
        }
        .fixed-list > ol{
            padding-top:1em;
            opacity: 0.6;
            @include breakpoint-down(tablet){
                display: none;
                position: absolute;
                bottom: calc(0px + 4.5em + 1px);
                background: $navbg;
                opacity: 1;
                padding-top: 0;
            }
        }
        .fixed-list{
            padding-left:0;
            padding-right: 0;
            padding-bottom:0;
            @include breakpoint-down(tablet){
                position: relative;
            }

        }
        .fixed-list a{
            padding-left:1em;
            transition: $transition-1 rotate;
            @include breakpoint-down(tablet){
                padding-left:0;
            }
        }
        .fixed-list-padding{
            padding-bottom:1em;
        }
        .fixed-list i{
            transition: 200ms rotate;
        }

        .toggle-nav {
            top:50%;
            right: -40px;
            font-weight: 300;
            transform: translateY(-50%);
            rotate:90deg;
            background-color:$navbg;
            text-align: center;
            width: 80px;
            padding:0;
            cursor: pointer;
            border-top-left-radius:15px ;
            border-top-right-radius:15px ;
            letter-spacing: 2px;
            border:1px solid $white;
            border-bottom:1px solid rgba($white,0.2);
        }
        &.panel-menu{
            width: 50px;
            .nav-logo{
                padding:1.5em;
                svg{
                    width: 30px;
                }
            }
            li a > strong, li a i:last-child, li ol{
                display: none;
            }
            .fixed-list{
                padding-bottom:1em;
            }
            
        }
    }
}
