#hero{
    margin-top:6em;
    .hero{
        &-info{
            flex: 2;
            z-index: 1;

            h1{
                line-height: 1;
            }
            p{
                line-height: 1.1;
                letter-spacing:0.5px;
                margin:1em 0;            }
            .buttons >div:first-child{
                margin-right: 1em;
            }
            .buttons .btn{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &-master-container{
            flex:1;
            justify-content: end;
            @include breakpoint-down(tablet){
                justify-content: center;
            }
        }
        &-master{
            
            &-format{
                h2{
                    margin:0 1em;
                }
                i{
                    font-size:2em;
                    cursor: pointer;
                }
                /* BLOB ANIMATION */
                &__image{
                    margin-top:1em;
                    background: $background;
                    width: 200px;
                    height: 200px;
                    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
                    overflow: hidden;
                    animation: blob 7s linear infinite;
                        & img{
                            width: 100%;
                        }
                }

               &__subtitle{
                margin-top:-2em;
                margin-bottom:2em;
                font-weight: 800;
               }

               &-account{
                border:1px solid $white;
                border-radius: 50px;
                padding:1em;
                min-width: 350px;

                    &-data{
                        &__image img{
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            margin-right:1em;
                        }

                        &-trophy{
                            &__user-name{
                                font-weight: 600;
                            }
                            &__user-bandage p{
                                margin:0 0.5em;
                            }
                        }
                    }    

                    &__likes{
                        font-weight: 600;

                        span.counter{
                            margin-left:0.5em;
                        }
                    }
                }
            } 
        }
    }
}