// Colors
    $primary-cyan:#3081ED;
    $primary-pink:#9B51E0;
    $navbg:#282631;
    $white:#ffffff;
    $nav-txt:#BCBCBC;
    $gradient:linear-gradient(94.78deg, $primary-pink 0%, $primary-cyan 100%);
    $background:#1F1D2B;

    $grid-width:1550px;

    $font-size:14px;
    $font-small:10px;

    $btn-radius:10px;
    $burger-rotate:43deg;

    $transition-1:200ms ease-in-out;