*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    background: var(--background);
    color:var(--white);
}
:root{
    --primary-cyan:#3081ED;
    --primary-pink:#9B51E0;

    --white:#ffffff;
    --nav-txt:#BCBCBC;
    --gradient:linear-gradient(94.78deg, var(--primary-pink) 0%, var(--primary-cyan) 100%);
    --background:#1F1D2B;

    --grid-width:1920px;

    --btn-radius:10px;

    --transition-1:200ms ease-in-out;

}
/* DEFAULT */
.flex{
    display: flex;
}
.flex.ai-c{
    align-items: center;
}
.flex.jc-c{
    justify-content: center;
}
.flex.jc-sb{
    justify-content: space-between;
}
.flex.jc-e{
    justify-content: end;
}
.flex.wrap{
    flex-wrap: wrap;
}
.os-grid{
    max-width: var(--grid-width);
    margin: 0 auto;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.container{
    padding:10px 5%;
}
a{
    text-decoration: none;
    color:var(--white)
}
a.active{
    position: relative;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
a.active::after{
    content:"";
    position: absolute;
    bottom:-1px;
    left:0;
    height: 2px;
    width: 100%;
    background: var(--primary-pink);
}
.txt-gradient{
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rotate-180{
    transition: rotate var(--transition-1);
    rotate:180deg;
}
/* NAVGIATION */
.logo a{
    font-size:2em;
    font-weight: 600;
}
nav ul > li{
    margin:0 15px;
}
ul li, ol li{
    list-style-type: none;
}
/* BUTTONS */
.btn{
    border:1px solid;
    padding:15px;
    border-radius: var(--btn-radius);
}
/* MAIN HEADER */
.cta > div{
    margin:0 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.cta svg{
    width: 18px;
    height: 18px;
    margin-right: 0.5em;;
}
.main-header{
    font-size:0.8em;
    color:var(--nav-txt);
    padding:20px 0;
}
.main-header a{
    color:var(--nav-txt);
}
.main-header .slider-items{
    margin-left:-1em;
    margin-top:0.5em;
    padding:1em;
    background:var(--background);
    box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.95);
}
.main-header .slider-items a{
    transition: var(--transition-1) color;
}
.main-header .slider-items a:hover{
    color:var(--primary-cyan);
}
.main-header i{
    margin-left:0.5em;
    transition: var(--transition-1);
}